<h1>Inbox</h1>
<table>
    <thead>
        <tr>
            <th>Subject</th>
            <th>Received</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% for conversation in @conversations do %>
            <tr>
                <td><strong><%= link_to conversation.subject, conversation_path(conversation) %></strong></td>
                <td><%= time_ago_in_words(conversation.created_at) %> ago</td>
                <td><%= link_to 'Delete', conversation_destroy_path(conversation), method: :delete, data: { confirm: 'Are you sure?' } %></td>                
            </tr>
        <% end %>
    <tbody>
<table>
<%= link_to 'Back to shopping', products_path %>