
<%# Only shows products with 1 or more quantity %>
<h1>Artworks</h1>


<% @availableproducts.each do |product| %>
<div class="responsive">
  <div class="gallery">
    <% if product.image.attached? %>
        <%= link_to cl_image_tag(product.image.key, :width=>600, :height=>400), product %>
        <% end %>
    <div class="desc"><p><%= product.product_title %></p>
    <p>A$<%= product.price %></p>
    <p>Listed by <%= link_to product.user.username, userproducts_path(product.user_id) %></p>
    </div>
  </div>
</div>
    <% end %>
<div class="clearfix"></div>

